.adminContainer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    z-index: 10;
}

.adminContent{
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}