
:root{
    --primary: #537D53;
    --secondary: #0A130C;
    --text: #F2F2F2;
    --attention: #CF2015;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text)
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: var(--background);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

p {
    line-height: 1.5;
    color: var(--accent)
}

a {
    color: var(--text);
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
