.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background: transparent;
    color: var(--foreground);
    align-items: center;
    padding: 0 30px;
    z-index: 10;

    a{
        cursor: pointer;

        &:hover{
            color: var(--primary);
            transition: 0.4s;
        }
    }
}
